TOPIC   : scholarship_nfaaf
URL     : https://nust.edu.pk/admissions/scholarships/nfaaf-documentation-requirements/
SCRAPED : 2026-03-29
============================================================

[__](https://nust.edu.pk)__[Admissions](https://nust.edu.pk/admissions) __[Scholarships](https://nust.edu.pk/admissions/scholarships) __NFAAF- DOCUMENTATION REQUIREMENTS
# NFAAF- DOCUMENTATION REQUIREMENTS
* * *
#####
  * __
  * [ __](https://www.facebook.com/sharer.php?u=https://nust.edu.pk/admissions/scholarships/nfaaf-documentation-requirements/&t=NFAAF- DOCUMENTATION REQUIREMENTS "Share on Facebook.")
  * [__](https://www.linkedin.com/shareArticle?mini=true&title=NFAAF- DOCUMENTATION REQUIREMENTS&url=https://nust.edu.pk/admissions/scholarships/nfaaf-documentation-requirements/ "Share on LinkedIn")
* * *
## **NFAAF – Documentation Requirements**
  * Candidates requiring financial aid will attach soft copy of ALL supporting documents to complete ​the last section of Need Based Financial Aid Application Form (NFAAF).
  * This is a mandatory requirement for completing / submitting NFAAF only.
  * Processing of NFAAF has no effect on the admission application.
  * Checklist of supporting documents will be auto generated on the basis of information provided by the candidate in other sections of NFAAF.
  * Candidates are advised to complete NFAAF well before due date to gain maximum time to arrange supporting documents.
  * Supporting​ documents of NFAAF may include the following:
    * Income certificates of all earning members of the family which include:
    * Salary slips of last three months for salaried persons.
    * Pension book for retired persons.
    * A certificate/proof/ legal affidavit in case of other type of income.
    * Retirement Order/ Final Settlement Letter in case any one of parents or guardian is retired.
    * Income Tax Returns of all earning members & of business in case of businessman.
    * Bank Statements (for the last 12 months) of all bank accounts in the names of all the family members and in the name of business in case of businessmen.
    * Utility Bills (last month) – Electricity, Gas, Phone and Water.
    * Rental Lease Agreement (if the residence or any other property is being leased for residence or business purposes or if excess property is leased to any other person/ party for income purposes).
    * Copies of Saving Certificates/ Bonds/ Shares/ CDC Statement.
    * Loan Document(s) of Loan outstanding as a liability (loan sanctioning document & payment plan) and loan receivable from any relative, financial institution, agency or organization.
    * Medical bills/ expenditure related documents (if any of the family member is suffering from any fatal/ serious disease). Please also provide a brief history of the medical ailment.
    * Property ownership documents (house, plots, agricultural land, flat, shops etc.). Allotment letter in case the property has been provided by the employer.
    * Vehicle(s) Registration documents of the vehicles being used by the family. Allotment letter in case the vehicle has been provided by the employer.
    * Mortgage/ Lease document(s) (in case Land, house, car or any other property has been taken/ given on lease).
    * Fee receipts & Fee Concession (Scholarship/Loan) document(s) of sibling(s)/ dependent(s) – from any institution including NUST.
    * Fee receipt & Fee Concession (Scholarship/Loan) document from the last institution the applicant attended.
    * Domicile Certificate of the applicant only.
    * Copies of CNIC/ B – Form of Applicant and Parents/ Guardian.
    * Picture(s) of the house you are residing in (Outside & Inside View).
    * Any other document(s) demonstrating financial need.
  * Documents will be attested by Govt. officer (BPS 17 or above).
  * Documents forwarded separately (via email, courier, any other means) will not be accepted.
## Size of Each Attachment
  * Should be less than 250 Kb​.
## **Scrutiny of Supporting Documents by FAO After Submission Of NFAAF**
  * Scrutiny of supporting documents will begin after NFAAF has been submitted.
  * Where necessary FAO will ask candidates (via email & web account) to:
    * Remove deficiencies and submit afresh.
    * Provide additional supporting documents.
  * Candidates will log in to their web accounts to attach adequate / additional documents with NFAAF.
  * It is candidates’ responsibility to remove deficiencies within given time to remain in the scholarship selection process.
  * Candidates are advised to check their emails (all folders including Junk / spam) and web accounts regularly for updates from FAO.
  * Providing false information will lead to cancellation of admission, blacklisting and recovery of dues.
## **For Candidates Requiring Additional Time to Submit or Unable to Submit Supporting Documents**
  * Candidates may attach undermentioned requests, in place of supporting document(s) to complete / submit NFAAF:
  * Additional time to submit supporting document(s) due to valid reasons.
  * Exemption from submission of supporting document(s) due to valid reasons.
  * FAO will carry out scrutiny of each request after NFAAF has been submitted​ and inform candidates accordingly.
**[Contact Us​ ](https://nust.edu.pk/admissions/masters/pg-helpline/)**
---
  * [Undergraduate Programmes](/admissions/undergraduates/)
    * [How to Apply for NET](https://ugadmissions.nust.edu.pk/)
    * [ENTRY ROUTE TO NUST](https://nust.edu.pk/admissions/undergraduates/entry-route-to-nust/)
    * [UPDATES ON UG ADMISSIONS](https://nust.edu.pk/admissions/undergraduates/updates-on-ug-admissions/)
    * [LIST OF UG PROGRAMMES AND INSTITUTIONS](https://nust.edu.pk/admissions/undergraduates/list-of-ug-programmes-and-institutions/)
    * [SALIENT FEATURES OF ADMISSION POLICY FOR UG PROGRAMMES](https://nust.edu.pk/admissions/undergraduates/salient-features/)
    * [DATES TO REMEMBER](https://nust.edu.pk/admissions/undergraduates/dates-to-remember/)
    * [EXPATRIATE STUDENTS](https://nust.edu.pk/admissions/undergraduates/expatriate-students/)
    * [ELIGIBILITY CRITERIA FOR UG PROGRAMMES](https://nust.edu.pk/admissions/undergraduates/eligibility-criteria-for-ug-programmes/)
    * [INELIGIBILITY CRITERIA](https://nust.edu.pk/admissions/undergraduates/ineligibility-criteria/)
    * [ACADEMIC QUALIFICATION REQUIRED FOR DIFFERENT UG PROGRAMMES](https://nust.edu.pk/admissions/undergraduates/academic-qualification-required-for-different-ug-progammes/)
    * [DAE – Eligibility Criteria](https://nust.edu.pk/admissions/undergraduates/dae-eligibility-criteria/)
    * [PROCEDURE OF ADMISSION ON THE BASIS OF NET](https://nust.edu.pk/admissions/undergraduates/procedure-of-admission-on-the-basis-of-net/)
    * [SUBJECTS INCLUDED IN NET WITH WEIGHTINGS](https://nust.edu.pk/admissions/undergraduates/subjects-included-in-net-with-weightings/)
    * [MERIT GENERATION CRITERIA](https://nust.edu.pk/admissions/undergraduates/merit-criteria-for-admission-on-net-basis/)
    * [RE-CHECKING OF NET PAPERS](https://nust.edu.pk/admissions/undergraduates/re-checking-of-net-papers/)
    * [APPLYING ON THE BASIS OF ACT/SAT](https://nust.edu.pk/admissions/undergraduates/applying-on-the-basis-of-scholastic-aptitude-test-sat/)
    * [NET APPLICATION PROCESSING FEE](https://nust.edu.pk/admissions/undergraduates/ug-admission-application-processing-fee/)
    * [UNDERGRADUATE ADMISSION / SELECTION PROCESS](https://nust.edu.pk/admissions/undergraduates/undergraduate-selection-process/)
    * [International Students](https://nio.nust.edu.pk/admissions/international-student-admissions/)
    * [CANCELLATION OF ADMISSION](https://nust.edu.pk/admissions/undergraduates/cancellation-of-admission/)
    * [Migration & Transfer Policy](https://nust.edu.pk/admissions/undergraduates/migration-transfer-policy/)
    * [UG ADMISSIONS HELP DESK](https://nust.edu.pk/admissions/undergraduates/ug-admissions-help-desk/)
    * [GUIDE MAP FOR TEST VENUE](https://nust.edu.pk/admissions/undergraduates/guide-map-for-test-venue/)
    * [UG AWARENESS DRIVES](https://nust.edu.pk/admissions/undergraduates/ug-awareness-drives/)
    * [NUST OUTREACH PROGRAMME](https://nust.edu.pk/admissions/undergraduates/nust-outreach-programme-2021/)
    * [Frequently Asked Question (FAQs)](https://nust.edu.pk/faq-category/ug-admission/)
    * [Photo Gallery](https://nust.edu.pk/photo_category/ug-admission/)
  * [Master Programmes](/admissions/masters/)
    * [ADMISSION ANNOUNCEMENT](https://nust.edu.pk/admissions/masters/admission-announcement/)
    * [DATES TO REMEMBER](https://nust.edu.pk/admissions/masters/dates-to-remember/)
    * [CANCELLATION OF ADMISSION](https://nust.edu.pk/admissions/masters/cancellation-of-admission/)
    * [INTERNATIONAL STUDENTS](https://nust.edu.pk/admissions/masters/international-students/)
    * [INSTRUCTIONS FOR ONLINE APPLICATION FORM](https://nust.edu.pk/admissions/masters/instructions-for-online-application-form/)
    * [PROGRAMMES OF STUDY](https://nust.edu.pk/admissions/masters/programs-of-study/)
    * [ELIGIBILITY CRITERIA](https://nust.edu.pk/admissions/masters/eligibility-criteria/)
    * [ADMISSION PROCESS AND SELECTION PROCEDURE](https://nust.edu.pk/admissions/masters/admission-process-and-selection-procedure/)
    * [EXPATRIATE STUDENT](https://nust.edu.pk/admissions/masters/expatriate-student/)
    * [MS HELPLINE](https://nust.edu.pk/admissions/masters/pg-helpline/)
    * [FAQs](https://nust.edu.pk/admissions/masters/faqs/)
  * [PhD Programmes](/admissions/phd/)
    * [PhD ADMISSIONS](https://nust.edu.pk/admissions/phd/phd-admissions-fall-2026/)
    * [PROGRAMMES OFFERED](https://nust.edu.pk/admissions/phd/phd-programmes-of-study/)
    * [EXPATRIATE STUDENT – PHD](https://nust.edu.pk/admissions/phd/expatriate-student-phd/)
    * [INTERNATIONAL PhD CANDIDATE](https://nust.edu.pk/admissions/phd/international-students/)
    * [INSTRUCTIONS FOR FILLING ADMISSION FORM](https://nust.edu.pk/admissions/phd/instructions-for-filling-online-application-form/)
    * [DATES TO REMEMBER](https://nust.edu.pk/admissions/phd/phd-admission-dates-to-remember/)
    * [FREQUENTLY ASKED QUESTIONS (FAQs)](https://nust.edu.pk/admissions/phd/frequently-asked-questions-faqs/)
    * [ELIGIBILITY CRITERIA](https://nust.edu.pk/admissions/phd/eligibility-criteria/)
  * [Scholarships](/admissions/scholarships/)
    * [DEFERMENT OF TUITION FEE & SUBSISTENCE ALLOWANCE](https://nust.edu.pk/?post_type=scholarship&p=959)
    * [FINANCIAL ASSISTANCE FOR UNDERGRADUATE STUDENTS](https://nust.edu.pk/admissions/scholarships/financial-assistance-for-undergraduate-students/)
    * [FREQUENTLY ASKED QUESTIONS (FAQS)](https://nust.edu.pk/admissions/scholarships/frequently-asked-questions-faqs/)
    * [GUIDELINES TO SUBMIT NEED BASED FINANCIAL AID APPLICATION FORM (NFAAF)](https://nust.edu.pk/admissions/scholarships/guidelines-to-access-and-submit-need-based-financial-aid-application-form-nfaaf/)
    * [INTEREST FREE LOAN (IHSAN TRUST)](https://nust.edu.pk/admissions/scholarships/interest-free-loan-ihsan-trust/)
    * [MERIT BASED SCHOLARSHIPS FOR MASTERS AND PhD](https://nust.edu.pk/?post_type=scholarship&p=996)
    * [NEED BASED FINANCIAL AID](https://nust.edu.pk/admissions/scholarships/need-based-financial-aid/)
    * [NFAAF- DOCUMENTATION REQUIREMENTS](https://nust.edu.pk/admissions/scholarships/nfaaf-documentation-requirements/)
    * [FORMS AND CERTIFICATES](https://nust.edu.pk/admissions/scholarships/nnbs-and-hec-scholarship-forms/)
    * [OTHER OPPORTUNITIES](https://nust.edu.pk/admissions/scholarships/other-opportunities/)
    * [PUNJAB EDUCATIONAL ENDOWMENT FUND (PEEF) SCHOLARSHIPS 2024-25](https://nust.edu.pk/admissions/scholarships/punjab-educational-endowment-fund-peef-scholarships/)
  * [Fee Structure](/admissions/fee-structure/)
    * [UNDERGRADUATE FINANCIAL MATTERS](https://nust.edu.pk/admissions/fee-structure/undergraduate-financial-matters/)
    * [POSTGRADUATE FINANCIAL MATTERS](https://nust.edu.pk/admissions/fee-structure/postgraduate-financial-matters/)
    * [REFUND POLICY](https://nust.edu.pk/admissions/fee-structure/refund-policy/)
    * [ADVANCE TAX ON PAYMENT OF FEE](https://nust.edu.pk/admissions/fee-structure/advance-tax-on-payment-of-fee/)
    * [HOSTEL ACCOMMODATION](https://nust.edu.pk/admissions/fee-structure/hostel-accommodation/)
    * [MODE OF PAYMENT](https://nust.edu.pk/admissions/fee-structure/mode-of-payment/)
    * [OTHER FEE CHARGES](https://nust.edu.pk/admissions/fee-structure/other-fee-charges/)
    * [CONTACT US](https://nust.edu.pk/admissions/fee-structure/contact-us/)
    * [FREQUENTLY ASKED QUESTIONS](https://nust.edu.pk/admissions/fee-structure/frequently-asked-questions/)
    * [Salient Features of Fee Policy](https://nust.edu.pk/downloads/salient-features-of-fee-policy/)
* * *
#####
  * __
  * [ __](https://www.facebook.com/sharer.php?u=https://nust.edu.pk/admissions/scholarships/nfaaf-documentation-requirements/&t=NFAAF- DOCUMENTATION REQUIREMENTS "Share on Facebook.")
  * [__](https://www.linkedin.com/shareArticle?mini=true&title=NFAAF- DOCUMENTATION REQUIREMENTS&url=https://nust.edu.pk/admissions/scholarships/nfaaf-documentation-requirements/ "Share on LinkedIn")
* * *
  * __
  * [__]( https://www.facebook.com/nustofficial "facebook")
  * [__](https://www.linkedin.com/school/nationaluniversityofsciencesandtechnology/ "linkedin")
  * [__](https://www.youtube.com/c/NUSTOfficial "youtube")
  * [__](https://www.instagram.com/nustgram/ "instagram")